@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ffe69d;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  display: flex;
}

.card__name,
.card__surname {
  color: #e96d5e;
  font-size: 50px;
  margin-left: -40px;
}

.card__name > strong,
.card__surname > strong {
  background: #393f5f;
  border: 10px solid #393f5f;
  text-transform: uppercase;
}

.card__avatar {
  max-width: 450px;
  overflow: hidden;
}

.card__avatar > img {
  width: 100%;
  border-radius: 5px;
}

.card__sidebar {
}

.card__bio {
  max-width: 300px;
  color: #393f5f;
  padding: 30px;
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  .card__name,
  .card__surname {
    color: #e96d5e;
    font-size: 25px;
  }

  .card__avatar {
    max-width: 200px;
    overflow: hidden;
    min-width: 50%;
    padding: 10px;
  }

  .card__bio {
    font-size: 15px;
  }
}
