:root {
  --base: #fff;
  --spacing: 10px;
  --blur: 0;
  --sepia: 0;
  --saturation: 1;
  --contrast: 1;
  --brightness: 1;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  width: 100%;

  filter: blur(var(--blur)) sepia(var(--sepia)) saturate(var(--saturation))
    contrast(var(--contrast)) brightness(var(--brightness));
}

.img-wrapper {
  width: 500px;
  max-width: 100%;
  height: fit-content;
  margin-top: 48px;
  padding: var(--spacing);

  background: var(--base);
}

.img-container {
  display: flex;

  width: 100%;

  justify-content: center;
}

.hl {
  color: var(--base);
}

body {
  font-family: "helvetica neue", sans-serif;
  font-weight: 100;

  text-align: center;

  color: white;
  background: #193549;
}

.controls {
  display: flex;
  flex-direction: column;

  margin-bottom: 50px;
  padding: 24px;

  justify-content: center;
  align-items: flex-start;
}

input {
  width: 100px;
  margin: 6px 0 36px 0;
}

main {
  display: flex;
}

@media (max-width: 650px) {
  main {
    flex-direction: column-reverse;
  }
}
