---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Pavel Hrakovich - Software Engineer</title>
	</head>
	<body>
		<h1>Hey, I'm Pavel</h1>
		<h4>Here some links: </h4>
		<ul>
			<li><a href="mailto:pgrekovich@gmail.com">pgrekovich[ew]gmail.com</a></li>
			<li><a href="https://www.linkedin.com/in/pgrekovich/">LinkedIn (trying hard)</a></li>
			<li><a href="https://github.com/pgrekovich">GitHub (empty)</a></li>
			<li><a href="https://x.com/pgrekovich">Twitter aka X (dont write, dont read)</a></li>
		</ul>
		/>
	</body>
</html>
